<!DOCTYPE html>
<html lang="en ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Лабораторная работа 3</title>
</head>
<body>
    <div class="calculator" id="calculator">
        <input type="text" v-model="result" placeholder="0" class="line" readonly>
        <button @click="input(button)" v-for="button in buttons" class="numbers button">{{button}}</button>
        <button @click="input(operation)" v-for='operation in operations' class="numbers button">{{operation}}</button>
        <button @click="results()">=</button>
    </div>
    <div class="todos" id="todos">
        <input type="text" name="textview" v-model="res" maxlength="28" class="line" @keyup.enter="onEnterClick()">
        <ul class="elements" >
            <li class="todo" v-for="(item, key) in items" :key="key">
               <input type="checkbox" class="check" @click="item.isVisible = false " :class="{'checkClick': !item.isVisible}"/><span :class="{'underile': !item.isVisible}">{{ item.value }}</span><img src="img/x.png" alt="del" @click="deleteTodoItem(key)"/>
            </li>
        </ul>
    </div>
    <script src="js/vue.js"></script>
</body>
</html>

